{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Über Uns</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Über Uns</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-120--- pb-90 mt--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="{% static 'img/others/about-6.jpg' %}" alt="About Us Image">
                    <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color"
                            data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                            data-aos-delay="200" data-aos-duration="800">Über uns</h6>
                        <h1 class="section-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                            data-aos-delay="200" data-aos-duration="800">Langjährige Präsenz in der Umzugsbranche<span>.</span></h1>
                        <p data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                            data-aos-delay="200" data-aos-duration="800">
                            Mit einer Leidenschaft für Qualität, Sorgfalt und Kundenorientierung haben wir uns in der
                            Branche einen Namen gemacht. Unsere Geschichte ist geprägt von erfolgreichen Umzügen, zufriedenen
                            Kunden und einem engagierten Team.
                        </p>
                    </div>
                    <ul class="ltn__list-item-half clearfix" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                        data-aos-delay="200" data-aos-duration="800">
                        <li>
                            <i class="flaticon-home-2"></i>
                            Professionelle Expertise
                        </li>
                        <li>
                            <i class="flaticon-mountain"></i>
                            Kundenzufriedenheit
                        </li>
                        <li>
                            <i class="flaticon-heart"></i>
                            Transparenz
                        </li>
                        <li>
                            <i class="flaticon-secure"></i>
                            Effizienz
                        </li>
                    </ul>
                    <div class="ltn__callout bg-overlay-theme-05  mt-30" data-aos="fade-up"
                         data-aos-anchor-placement="top-bottom" data-aos-delay="200" data-aos-duration="800">
                        <p>"Von Privatumzügen bis hin zu Firmenverlagerungen bieten wir eine breite Palette von Dienstleistungen" </p>
                    </div>
                    <div class="btn-wrapper animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                        data-aos-delay="200" data-aos-duration="800">
                        <a href="{% url 'about' %}" class="theme-btn-1 btn btn-effect-1">UNSERE SERVICE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->

<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area section-bg-2 pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-delay="200" data-aos-duration="800">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Features</h6>
                    <h1 class="section-title">WAS UNS SO BESONDERS MACHT?</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-delay="200" data-aos-duration="800">
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7 ltn__feature-item-7-color-white">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <span><i class="flaticon-house-1"></i></span>
                        </div>
                        <h3><a href="#">Erfahrung und Expertise</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>Unsere Expertise ermöglicht es uns, Ihre individuellen Umzugsanforderungen professionell, effektive und reibungslos zu erfüllen.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7 ltn__feature-item-7-color-white">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <span><i class="icon-mechanic"></i></span>
                        </div>
                        <h3><a href="#">Kundenorientierte Lösungen</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>Ihre Bedürfnisse sind einzigartig, und wir wissen das. Unsere kundenorientierten Lösungen sind darauf ausgerichtet, Ihre individuellen Anforderungen zu erfüllen. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7 ltn__feature-item-7-color-white">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <span><i class="flaticon-house-4"></i></span>
                        </div>
                        <h3><a href="#">Nachhaltigkeit, Verantwortung</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>
                            Wir sind uns unserer Verantwortung für die Umwelt bewusst. Ihre Gegenstände werden nicht nur sicher,
                            sondern auch umweltbewusst transportiert.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->


<!-- CATEGORY AREA START -->
<div class="ltn__category-area section-bg-1-- ltn__primary-bg before-bg-1 bg-image bg-overlay-theme-black-5--0 pt-115 d-none pb-90" data-bs-bg="{% static 'img/bg/5.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-delay="200" data-aos-duration="800">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title white-color">Top Categories</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__category-slider-active slick-arrow-1" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-delay="200" data-aos-duration="800">
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CATEGORY AREA END -->

<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-delay="200" data-aos-duration="800">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Unser Service</h6>
                    <h1 class="section-title">Top Services</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter--- justify-content-center" data-aos="fade-up"
             data-aos-anchor-placement="top-bottom" data-aos-delay="200" data-aos-duration="800">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1 active">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-house-3"></i></span> -->
                        <img src="{% static 'img/icons/icon-img/22.png' %}" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'private-move' %}">Privatumzüge</a></h3>
                        <p>
                            Wir übernehmen den gesamten Umzugsprozess für Privatpersonen,
                            einschließlich Verpackung, Transport, Entladung und Montage am neuen Standort.
                        </p>
                        <a class="ltn__service-btn" href="{% url 'private-move' %}">Mehr lesen<i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-deal-1"></i></span> -->
                        <img src="{% static 'img/icons/icon-img/23.png' %}" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'company-move' %}">Firmenumzüge</a></h3>
                        <p>
                            Für Unternehmen, die den Standort wechseln, bieten wir spezialisierte Dienstleistungen an,
                            um den reibungslosen Übergang von Büromöbeln und IT-Geräten sicherzustellen
                        </p>
                        <a class="ltn__service-btn" href="{% url 'company-move' %}#service-details.html">Mehr lesen <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-house"></i></span> -->
                        <img src="{% static 'img/icons/icon-img/21.png' %}" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'house-cleaning' %}">Hausreinigung</a></h3>
                        <p>
                            Unsere gründliche Hausreinigung hinterlässt Ihr Zuhause makellos.
                            Wir verwenden hochwertige Materialien und bewährte Techniken für ein frisches Ambiente.
                        </p>
                        <a class="ltn__service-btn" href="{% url 'house-cleaning' %}">Mehr lesen <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->

<!-- TESTIMONIAL AREA START (testimonial-7) -->
<div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115" data-bs-bg="{% static 'img/bg/20.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-delay="200" data-aos-duration="800">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Testimonial</h6>
                    <h1 class="section-title">Was unsere Kunden sagen</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__testimonial-slider-5-active slick-arrow-1" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-delay="200" data-aos-duration="800">
            <div class="col-lg-4">
                <div class="ltn__testimonial-item ltn__testimonial-item-7">
                    <div class="ltn__testimoni-info">
                        <p><i class="flaticon-left-quote-1"></i>
                            Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="ltn__testimoni-info-inner">
                            <div class="ltn__testimoni-img">
                                <img src="{% static 'img/testimonial/1.jpg' %}" alt="#">
                            </div>
                            <div class="ltn__testimoni-name-designation">
                                <h5>Jacob William</h5>
                                <label>Selling Agents</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ltn__testimonial-item ltn__testimonial-item-7">
                    <div class="ltn__testimoni-info">
                        <p><i class="flaticon-left-quote-1"></i>
                            Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="ltn__testimoni-info-inner">
                            <div class="ltn__testimoni-img">
                                <img src="{% static 'img/testimonial/2.jpg' %}" alt="#">
                            </div>
                            <div class="ltn__testimoni-name-designation">
                                <h5>Kelian Anderson</h5>
                                <label>Selling Agents</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ltn__testimonial-item ltn__testimonial-item-7">
                    <div class="ltn__testimoni-info">
                        <p><i class="flaticon-left-quote-1"></i>
                            Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="ltn__testimoni-info-inner">
                            <div class="ltn__testimoni-img">
                                <img src="{% static 'img/testimonial/3.jpg' %}" alt="#">
                            </div>
                            <div class="ltn__testimoni-name-designation">
                                <h5>Adam Joseph</h5>
                                <label>Selling Agents</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ltn__testimonial-item ltn__testimonial-item-7">
                    <div class="ltn__testimoni-info">
                        <p><i class="flaticon-left-quote-1"></i>
                            Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="ltn__testimoni-info-inner">
                            <div class="ltn__testimoni-img">
                                <img src="{% static 'img/testimonial/4.jpg' %}" alt="#">
                            </div>
                            <div class="ltn__testimoni-name-designation">
                                <h5>James Carter</h5>
                                <label>Selling Agents</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->

<section class="pb-70">
    <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
        data-aos-delay="200" data-aos-duration="1100">
        <div class="row">
            <div class="col text-center">
                <div class="btn-wrapper">
                    <a class="btn btn-effect-3 btn-white" href="{% url 'contact' %}">Bewerten Sie uns</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}