{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Kontakt</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Kontakt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

{% if messages %}
   <section>
       <div class="container">
            <div class="row">
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
       </div>
   </section>
{% else %}
    <!-- CONTACT ADDRESS AREA START -->
    <div class="ltn__contact-address-area mb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/10.png' %}" alt="Icon Image">
                        </div>
                        <h3>E-Mail Adresse</h3>
                        <p>info@umzugundlogistik.com<br>
                           jobs@umzugundlogistik.com</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/11.png' %}" alt="Icon Image">
                        </div>
                        <h3>Telefonnummer</h3>
                        <p>+49 17621754911 <br> <br> </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                        <div class="ltn__contact-address-icon">
                            <img src="{% static 'img/icons/12.png' %}" alt="Icon Image">
                        </div>
                        <h3>München Office</h3>
                        <p>Franz-Wolter-Straße 5 <br>
                            81925 München</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT ADDRESS AREA END -->

    <!-- CONTACT MESSAGE AREA START -->
    <div class="ltn__contact-message-area mb-120 mb--130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                    data-aos-delay="200" data-aos-duration="800">
                    <div class="ltn__form-box contact-form-box box-shadow white-bg">
                        <h4 class="title-2">Kontaktformular</h4>

                        <form method="POST" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {% if form.errors %}
                               {% for field in form %}
                                   {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ error|escape }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                   {% endfor %}
                               {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    {% for radio in form.salutation %}
                                        <label class="checkbox-item mr-10">{{ radio.choice_label }}
                                            {{ radio.tag }}
                                            <span class="checkmark"></span>
                                        </label>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    {{ form.firstname }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.lastname }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.phone_number }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.address }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.zip_code }}
                                </div>
                                <div class="col-12">
                                    {{ form.subject }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.content.label }}
                                    {{ form.content }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.confirmation.label }}
                                </div>
                                <div class="col-md-12 mb-4">
                                    <input type="checkbox" class="mr-10" name="{{ form.data_protection.name }}" id="{{ form.data_protection.id_for_label }}" {% if form.data_protection.value %}checked{% endif %}>
                                    <span>
                                        Ich bin mit der Übermittlung meiner Daten an die A&A Umzug und Logistik einverstanden und habe die Datenschutzerklärung gelesen.
                                        Die zu übermittelnden Daten werden für eine weitere Kontaktaufnahme versendet. Diese geschieht durch Email, Post oder Anruf. 
                                        Sollten Sie zu einem späteren Zeitpunkt die übermittelten Daten gelöscht haben wollen, so besteht gemäß § 13 TMG ein jederzeitiges Widerrufsrecht. 
                                        Weitere Informationen zum Thema Datenschutz können Sie unter dem Link <a class="fw-bold"
                                            href="{% url 'data-protection' %}">Datenschutzerklärung </a> abrufen.
                                    </span>
                                </div>
                            </div>
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Absenden</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT MESSAGE AREA END -->
{% endif %}

<!-- GOOGLE MAP AREA START -->
<div class="container mt-120">
    <div class="google-map mb-120">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.7672176231363!2d11.628059976779841!3d48.172567548724054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e74e33d16a2dd%3A0xa794dfec6af31a17!2sFranz-Wolter-Stra%C3%9Fe%205%2C%2081925%20M%C3%BCnchen!5e0!3m2!1sde!2sde!4v1691341965364!5m2!1sde!2sde" width="100%" height="100%" style="border:0;" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- GOOGLE MAP AREA END -->

{% endblock  %}