{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Datenschutz</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Datenschutz</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<div class="ltn__faq-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <h4>
                    DATENSCHUTZ
                </h4>
                <p>
                    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
                    personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie
                    dieser Datenschutzerklärung. Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener
                    Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
                    E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese
                    Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin,
                    dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
                    Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    COOKIES
                </h4>
                <p>
                    Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden
                    an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
                    Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
                </p>
                <p>
                    Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs
                    automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies
                    ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                </p>
                <p>
                    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur
                    im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische
                    Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität
                    dieser Website eingeschränkt sein.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    SERVER-LOG-FILES
                </h4>
                <p>
                    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log
                    Files, die Ihr Browser automatisch an uns übermittelt.
                </p>
                <p>
                    - Browsertyp und Browserversion <br>
                    - verwendetes Betriebssystem <br>
                    - Referrer URL <br>
                    - Hostname des zugreifenden Rechners <br>
                    - Uhrzeit der Serveranfrage <br>
                </p>
                <p>
                    Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen
                    Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn
                    uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    KONTAKTFORMULAR
                </h4>
                <p>
                    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular
                    inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall
                    von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    GOOGLE ANALYTICS
                </h4>
                <p>
                    Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc.,
                    1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics verwendet so genannte „Cookies“.
                    Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
                    Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser
                    Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                </p>
                <p class="fw-bold">
                    IP-Anonymisierung
                </p>
                <p>
                    Wir haben auf dieser Website die Funktion IP-Anonymisierung aktiviert. Dadurch wird Ihre IP-Adresse von
                    Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens
                    über den Europäischen Wirtschaftsraum vor der Übermittlung in die USA gekürzt. Nur in Ausnahmefällen wird
                    die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers
                    dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports
                    über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
                    verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics
                    von Ihrem Browser übermittelte IPAdresse wird nicht mit anderen Daten von Google zusammengeführt.
                </p>
                <p class="fw-bold">
                    Browser Plugin
                </p>
                <p>
                    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
                    wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
                    vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf
                    Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch
                    Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
                    https://tools.google.com/dlpage/gaoptout?hl=de
                </p>
                <p class="fw-bold">
                    Widerspruch gegen Datenerfassung
                </p>
                <p>
                    Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie auf folgenden Link klicken.
                    Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser
                    Website verhindert: Google Analytics deaktivieren.
                </p>
                <p>
                    Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung
                    von Google: https://support.google.com/analytics/answer/6004245?hl=de
                </p>
                <p class="fw-bold">
                    Auftragsdatenverarbeitung
                </p>
                <p>
                    Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die
                    strengen Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.
                </p>
                <p class="fw-bold">
                    Demografische Merkmale bei Google Analytics
                </p>
                <p>
                    Diese Website nutzt die Funktion “demografische Merkmale” von Google Analytics. Dadurch können Berichte
                    erstellt werden, die Aussagen zu Alter, Geschlecht und Interessen der Seitenbesucher enthalten. Diese Daten
                    stammen aus interessenbezogener Werbung von Google sowie aus Besucherdaten von Drittanbietern. Diese Daten
                    können keiner bestimmten Person zugeordnet werden. Sie können diese Funktion jederzeit über die Anzeigeneinstellungen
                    in Ihrem Google-Konto deaktivieren oder die Erfassung Ihrer Daten durch Google Analytics wie im Punkt “Widerspruch
                    gegen Datenerfassung” dargestellt generell untersagen.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    SSL-VERSCHLÜSSELUNG
                </h4>
                <p>
                    Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte,
                    wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung.
                    Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“
                    wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
                </p>
                <p>
                    Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    RECHT AUF AUSKUNFT, LÖSCHUNG, SPERRUNG
                </h4>
                <p>
                    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten,
                    deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung
                    oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich
                    jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <h4>
                    WIDERSPRUCH WERBE-MAILS
                </h4>
                <p>
                    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich
                    angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich
                    ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen,
                    etwa durch Spam-E-Mails, vor.
                </p>
                <p>
                    Quelle: https://www.e-recht24.de/muster-datenschutzerklaerung.html
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
