{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Impressum</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Impressum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<div class="ltn__faq-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <h4>Angaben gemäß § 5 TMG:</h4>
                <p>
                    A + A Helfer <br>
                    Franz-Wolter-Straße 5 <br>
                    81925 München <br>
                </p>
            </div>
            <div class="col-lg-12">
                <h4>VERTRETEN DURCH:</h4>
                <p>
                    Geschäftsführer:<br>
                    Abdulla Abdullaev Uldasevic<br>
                </p>
            </div>
            <div class="col-lg-12">
                <h4>KONTAKT:</h4>
                <p>
                    Telefon: +49 17621754911 <br>
                    Email: info@aplusahelfer.de
                </p>
            </div>
            <div class="col-lg-12">
                <h4>REGISTEREINTRAG:</h4>
                <p>
                    Gewerbe-Anmeldung nach §14 oder §55c der Gewerbeordnung <br>
                    Registergericht: Landeshauptstadt München <br>
                    Gemeindekennzahl der Gemeinde des Sitzes der Betriebstätte: 09162000 <br>
                </p>
            </div>
            <div class="col-lg-12">
                <h4>KEINE ABMAHNUNG OHNE VORHERIGEN KONTAKT!</h4>
                <p>
                    Sollte irgendwelcher Inhalt oder die designtechnische Gestaltung einzelner Seiten oder Teile
                    dieses Internetangebotes fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen oder anderweitig
                    in irgendeiner Form wettbewerbsrechtliche Probleme hervorbringen, so bitten wir unter Berufung auf § 8 Abs. 4 UWG,
                    um eine angemessene, ausreichend erläuternde und schnelle Nachricht ohne Kostennote.
                </p>
                <p>
                    Wir garantieren, dass die zu Recht beanstandeten Passagen oder Teile dieser Webseiten in angemessener
                    Frist entfernt bzw. den rechtlichen Vorgaben umfänglich angepasst werden, ohne dass von Ihrer Seite
                    die Einschaltung eines Rechtsbeistandes erforderlich ist. Die Einschaltung eines Anwaltes, zur für den
                    Diensteanbieter kostenpflichtigen Abmahnung, entspricht nicht dessen wirklichen oder mutmaßlichen Willen
                    und würde damit einen Verstoss gegen § 13 Abs. 5 UWG, wegen der Verfolgung sachfremder Ziele als beherschendes
                    Motiv der Verfahrenseinleitung, insbesondere einer Kostenerzielungsabsicht als eigentliche Triebfeder, sowie einen
                    Verstoß gegen die Schadensminderungspflicht darstellen. Entstandene Kosten ohne vorherige Kontaktaufnahme werden
                    vollumfänglich zurückgewiesen und lösen gegebenenfalls eine Gegenklage wegen Verletzung vorgenannter Bestimmungen aus.
                </p>
            </div>
            <div class="col-lg-12">
                <h4>HAFTUNG FÜR INHALTE:</h4>
                <p>
                    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität
                    der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte
                    auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
                    verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
                    rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
                    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
                    Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                </p>
            </div>
            <div class="col-lg-12">
                <h4>HAFTUNG FÜR LINKS:</h4>
                <p>
                    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
                    Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
                    Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden
                    zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt
                    der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
                    Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige
                    Links umgehend entfernen.
                </p>
            </div>
            <div class="col-lg-12">
                <h4>URHEBERRECHT:</h4>
                <p>
                    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
                    Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
                    bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
                    nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber
                    erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
                    Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
                    Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock  %}