{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">UNSERE SERVICE</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="about-us-img-wrap ltn__img-shape-left  about-img-left">
                    <img src="{% static 'img/service/service-1.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color"
                            data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                            data-aos-delay="200" data-aos-duration="800">Leistungen</h6>
                        <h1 class="section-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                            data-aos-delay="200" data-aos-duration="800">
                            Expertise für Ihren reibungslosen Umzug<span>.</span>
                        </h1>
                        <p data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                           data-aos-delay="200" data-aos-duration="800">
                            Unsere Dienstleistungen sind darauf ausgerichtet, Ihnen die Last des Umzugs abzunehmen und
                            Ihnen den Übergang zu Ihrem neuen Ort so angenehm wie möglich zu gestalten.
                        </p>
                    </div>
                    <div class="about-us-info-wrap-inner about-us-info-devide---"
                        data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                        data-aos-delay="200" data-aos-duration="800">
                        <p>
                           Mit einem erfahrenen Team und einer bewährten Erfolgsbilanz in der Branche sind wir stolz darauf,
                           Ihren Umzug mit Sorgfalt und Präzision zu betreuen. Wir wissen, dass der Umzug mehr ist als nur der Transport
                           von Gegenständen - es geht um eine neue Phase Ihres Lebens.
                        </p>
                    </div>
                    <div class="btn-wrapper animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                         data-aos-delay="200" data-aos-duration="800">
                        <a href="{% url 'about' %}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Kontaktieren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->

<!-- SERVICE AREA START (Service 1) -->
<div class="ltn__service-area section-bg-1 pt-115 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200" data-aos-duration="1000">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Service</h6>
                    <h1 class="section-title">Unsere Service</h1>
                </div>
            </div>
        </div>
        <div class="row  justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-delay="200" data-aos-duration="800">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-house"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'private-move' %}">Privatumzüge</a></h3>
                        <p>Von der Verpackung bis zur Montage am Zielort übernehmen wir alles für Ihren reibungslosen Privatumzug.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-deal"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'company-move' %}">Firmenumzüge</a></h3>
                        <p>Wir minimieren Ausfallzeiten und sorgen für einen nahtlosen Büroumzug, damit Ihr Geschäft schnell wieder läuft.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-operator"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'consulting' %}">Umzugsberatung</a></h3>
                        <p>Wir können Sie bei der Planung und Organisation Ihres Umzugs beraten, um den Prozess so effizient wie möglich zu gestalten.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-house-1"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'mon-and-demontage' %}">Mon- und Demontage</a></h3>
                        <p>Unser Team übernimmt die fachgerechte Montage und Demontage Ihrer Möbel und Geräte für einen reibungslosen Umzug.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-car"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'transport' %}">Transport</a></h3>
                        <p>Moderner Fuhrpark für pünktliche Lieferungen, sicherer Transport Ihrer Güter an den Zielort – zuverlässig und professionell.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-secure-shield"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'packaging' %}">Verpackungsservice</a></h3>
                        <p>Unsere Profis packen Ihre Sachen sicher ein, damit sie beim Umzug gut geschützt sind und sicher ankommen.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-house-4"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'household-liquidation' %}">Haushaltsauflösung</a></h3>
                        <p>Unsere Haushaltsauflösung unterstützt Sie professionell bei Wohnungsauflösungen.
                            Unsere erfahrenen Teams handhaben den Prozess mit Sensibilität und Effizienz.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-building"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'company-liquidation' %}">Firmenauflösung</a></h3>
                        <p>Professionelle Firmenauflösung minimiert unerwünschte Ausfallzeiten. Wir kümmern uns um Entsorgung und Standortübergabe gemäß Anforderungen.</p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-clean"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="{% url 'house-cleaning' %}">Hausreinigung</a></h3>
                        <p>
                            Unsere gründliche Hausreinigung hinterlässt Ihr Zuhause makellos.
                            Wir verwenden hochwertige Materialien und bewährte Techniken für ein frisches Ambiente.
                        </p>
                        <!-- <a class="ltn__service-btn" href="service-details.html">Find A Home <i class="flaticon-right-arrow"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICE AREA END -->

<!-- TESTIMONIAL AREA START (testimonial-7) -->
<div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115" data-bs-bg="{% static 'img/bg/20.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Testimonial</h6>
                    <h1 class="section-title">Was unsere Kunden sagen</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
            {% for review in reviews %}
            <div class="col-lg-4">
                <div class="ltn__testimonial-item ltn__testimonial-item-7">
                    <div class="ltn__testimoni-info">
                        <p><i class="flaticon-left-quote-1"></i>
                            {{ review.reviewer_content|truncatechars:195 }}
                        </p>
                        <div class="ltn__testimoni-info-inner">
                            <div class="ltn__testimoni-img">
                                {% if review.reviewer_salutation == "herr" %}
                                    <img src="{% static 'img/testimonial/feedback_male.svg' %}" alt="#">
                                {% else %}
                                    <img src="{% static 'img/testimonial/feedback_female.svg' %}" alt="#">
                                {% endif %}
                            </div>
                            <div class="ltn__testimoni-name-designation">
                                <h5>{{ review.reviewer_firstname }} {{ review.reviewer_lastname }}</h5>
                                <label>Privatkunde</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->

<section class="pb-70">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="btn-wrapper">
                    <a class="btn btn-effect-3 btn-white" href="{% url 'send-review' %}">Bewerten Sie uns</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %}